@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

:root {
    --bg-color: #191f36;
    --snd-bf-color: #262840;
    --text-color: #fff;
    --main-color: #5982F4;
}

.navbar{
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-color);
    align-items: center;
    color: var(--text-color);
    padding: 0 2rem;
}

.sideBarSection{
    width: 100%;
    max-width: 15%;
    height: 92vh;
    padding-top: 10px;
    background-color: var(--snd-bf-color);
    color: var(--text-color);
}

.sideBarSection ul li{
    list-style: none;
    margin-bottom: 20px;
    font-size: large;
    font-weight: 500;
    cursor: pointer;
    
}

.collectionSection{
    display: flex;
}

/* login form */
.login-container{
    border: 1px soild red;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registerSection{
    border: 1px soild red;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.authForm{
    width: 100%;
    max-width: 50%;
    /* border: 1px solid red; */
    margin-top: -230px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
}

.authForm input{
    width: 100%;
    max-width: 55%;
    height: 1.4rem;
}

.authForm label{
    width: 100%;
    max-width: 55%;
    font-weight: 500;
}

/* employeesection */

.employeeSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    margin-top: 100px;
}


.tableForm{
    width: 100%;
    max-width: 50%;
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
}

.tableForm input{
    width: 100%;
    max-width: 55%;
    height: 1.4rem;
}

.tableForm label{
    width: 100%;
    max-width: 55%;
    font-weight: 500;
    color: var(--bg-color);
}

/* check box input */

/* .check-box {
    margin: 20px 0; 
  } */
  
  .check-box label {
    display: block;
    margin-bottom: 10px;
  }
  
  .input-container {
    display: flex;
  }
  
  .checkbox-container {
    display: flex;
    gap: 10px;
  }
  
  .checkbox-container label {
    margin-right: 10px;
  }
  
  .checkbox-container input[type="checkbox"] {
    margin-right: 5px;
  }

  /* radio button */
  .radio-group {

    margin: 20px 0;
  }
  
  .radio-group label {
    display: block;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
  }
  
  .radio-container {
    display: flex;
    gap: 60px; /* Adjust the gap as needed */
  }
  
  .radio-container label {
    display: flex;
    align-items: center;
  }
  
  .radio-container input[type="radio"] {
    margin-right: 5px;
  }
  
  /* product table */

  .employee-table{
    width: 80vw;
    border-collapse: collapse;
    margin: 50px;
  }

  .employee-table th,
  .employee-table td{
    border: 1px solid var(--bg-color);
    padding: 8px;

  }

  .employee-table th{
    text-align: left;
    background-color: gray;
  }

  /* welocme page */
  .welcome {
    font-size: 24px;
    color: #333;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px;
    padding: 20px;
  }
  
  .welcome span {
    text-transform: capitalize;
    padding-left: 20px;
    font-weight: bold;
    color: #007BFF;
  }
  